.container {
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  padding: 16px;

  background-color: var(--gray-500);
  color: #fff;
  border: none;
  border-radius: 8px;
  border-color: var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}
.containerline {
  composes: container;
  text-decoration: line-through;
  color: var(--gray-300);
  align-self: center;
}

.buttonCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--blue);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.buttonCheck:hover {
  background: var(--blueDarkOpacity);
  color: var(--blueDark);
}
button {
  background: transparent;
  border: none;
}
.buttonChecked {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  padding: 3px;
  background-color: var(--purpleDark);
  border-radius: 999px;

  cursor: pointer;
  transition: color 0.2s;
}
.buttonChecked:hover {
  background-color: var(--purple);
}
p {
  margin-left: 10px;
}
.trash {
  margin-left: auto;
  padding: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  color: var(--gray-300);
  transition: 0.2s;
}
.trash:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}
